<% layout('layouts/boilerplate') %> 
<body>
    <h1><%= listing.title %></h1>
    <p><%= listing.description %></p>
    <p>Price: $<%= listing.price %></p>
    <a href="/listings/<%= listing._id %>/update">Edit Listing</a>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" style="display:inline;">
        <button type="submit">Delete Listing</button>
    </form>
